<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Landing Page - Material Kit by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <!-- CSS Files -->
    {% stylesheets
    'bundles/app/css/bootstrap-custom.css'
    'bundles/app/css/material-kit.css'
    'bundles/app/css/index.css'
    filter="cssrewrite,?yui_css"
    output='css/core.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
</head>
<body class="landing-page">
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home Page</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
            {% block header %}
                <ul class="nav navbar-nav navbar-right">
                    {% for gallery in galleries %}
                        {% if gallery.slug %}
                            <li>
                                <a href="{{ path('app_gallery',{'slug': gallery.slug}) }}" class="btn">
                                    {{ gallery.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
    </div>
</nav>
<div class="wrapper">
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</div>
</body>
{% javascripts
"@AppBundle/Resources/public/js/vendors/jquery.min.js"
"@AppBundle/Resources/public/js/vendors/bootstrap.min.js"
"@AppBundle/Resources/public/js/vendors/material.min.js"
"@AppBundle/Resources/public/js/vendors/nouislider.min.js"
"@AppBundle/Resources/public/js/vendors/bootstrap-datepicker.js"
"@AppBundle/Resources/public/js/vendors/material-kit.js"
"@AppBundle/Resources/public/js/slider.js"
filter="?yui_js"
output='js/core.js' %}
<script defer type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</html>
