$blue: #009ee3;
$blue_sky: #00A0E6;
$blue_dark: #004F9E;
$blue_hover: #476fb7;
$blue_bg: #E6F9FF;
$blue_dark_text: #5277A1;
$blue_btn_border: #4A86A0;
$grey: #5D5D5D;
$grey-hint: #4B4B4B;
$grey-paging: #B3B3B3;
$grey-border: #AEACAC;
$grey_number: #D0CFCF;
$grey_dark: #292929;
$grey_bg_map: #757575;
$grey_light: #DCDCDC;
$grey_search: #FCFCFC;
$grey_border: #B3AEAE;
$grey_bg: #F5F5F5;
$grey_btn_bg: #fafafa;
$grey_star: #b4b4b4;
$grey_test: #DDDDDD;
$white_header: #F9F9F9;
$grey_question: #B6BBC1;
$grey_question_border: #D9D8D8;
$bg_color_footer: #626262;
$orange: #f18700;
$yellow: #fbb900;
$dark_yellow: #f4c239;
$beige: #F5AF01;
$height_header: 127px;
$height_habillage: 200px;
$width_container: 1000px;
$green_message: #0F9D17;
$result_green: #B7D803;
$result_orange: #F9B52C;
$result_red: #FA3737;
$white : #fff;
$tag_green: #4dd8a2;
$tag_yellow: #e2c300;
$tag_purple: #c890dd;
$k_red: #F24E4C;
$font: Lato, Helvetica, Arial, sans-serif;