.menu{
  font-style:italic;
}
.menu-button{
  position: fixed !important;
  left: 20px;
  top: 20px;
  z-index: 1;
}

.menu-item{
  padding-left: 20px;
  display: inline-block;
}
.owl-item{
  img{
    display: block;
    width: 100%;
    height: auto;
  }
}

.main-slider{
  height: 95vh;
  position: relative;
  .owl-carousel{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:100%;
  }
  .owl-pagination{
    display:none;
  }

  .owl-buttons{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    >div{
      background:transparent!important;
      transform: scale(2);
    }
  }
  .owl-prev{
    float: left;
  }
  .owl-next{
    float: right;
  }
}

.clear-fix{
  clear:both;
}